# This section describes to uwsgi how to run the back-end.
[uwsgi]
# The user to run the backend as, change this option.
# uid =
# The usergroup to run the backend as, change this option.
# gid =


# The directory psef lives in, change this option.
# base = $DIR_TO_PSEF

# project = psef
# chdir = %(base)
# virtualenv = %(base)/env/
# module = %(project):app

# The way to let uwsgi log
# logger = file:/var/log/nginx/psef.uwsgi.log

# The location and chmod mode of the socket
# socket = %(base)/psef.sock
# chmod-socket = 666

# master = true
# processes = 5

# Set debug to off
# env = DEBUG=false

# This section contains compile constant for the front-end, these are solely
# used for presentation purposes.
[Front-end]
# The email to display
# email = info@CodeGra.de

# This section is for the options of the backend.
[Back-end]
# Enable debug mode. Set this to off for production mode.
# debug = false

# The base directory where psef lives. This defaults to the directory where
# `config.py` sits.
# base_dir =

# Define the database. If `CODEGRADE_DATABASE_URL` is found in the enviroment
# variables it is used. The string should be in this format for postgresql:
# `postgresql://dbusername:dbpassword@dbhost/dbname`
# sqlalchemy_database_uri = postgresql:///codegrade_dev

# The amount of bytes that should be used for randomly generation JWT keys.
# You should probably not change this.
# bytes_random = 64

# Secret key for signing session JWT tokens.
# By default a random string is used if debug mode is off. This is secure but
# means users have to login again after restarting the server
# secret_key = Wowsers

# Secret key for signing LTI tokens. This should be a strong random key that is
# not public. By default a random strings of %(bytes_random)s amount of bytes is
# generated during startup. It might be best to not change this. These tokens
# have a very short lifetime so restarting the server will always mean a LTI
# launch will never work if you restart the server while launching.
# lti_secret_key =

# The amount of days until a login token should expire in days. Can be a float
# jwt_access_token_expires = 30

# Path for storage of uploaded files.
# WARNING: Make sure these directories exist.
# upload_dir = %(BASE_DIR)s/uploads
# mirror_upload_dir = %(BASE_DIR)s/mirror_uploads

# Maximum size in bytes for single upload request in bytes, defaults to 64 * 2
# ** 20 = 64 megabytes.
# max_upload_size = 67108864

# The default site role a user should get. The name of this role should be
# present as a key in `seed_data/roles.json`.
# default_role = Student

# The external URL the server runs on.
# external_url = http://localhost:8080

# This section enables you to disable certain features. If you change this
# config you need to rebuild/restart the front-end and restart the backend
# otherwise the changes are not applied.
[Features]
# Should any user be able to upload blackboard zips. If this is enabled
# sometimes the username can collide with another user, meaning work is
# uploaded for the wrong user. This option is UNSAFE to enable when working
# on a multiple school instance.
# blackboard_zip_upload = true

# Should rubrics be enabled. This means rubrics can be created by teachers
# and used for grading purposes.
# rubrics = true

# Should we automatically create a default role for LTI launches with roles
# that are not known.
# automatic_lti_role = true

# Should LTI be enabled.
# LTI = true

# All LTI consumer keys mapped to secret keys. Please add your own, these ARE
# case sensitive.
[LTI Consumer keys]
# my_lti = my_secret_key