[uwsgi]
uid = $USER
gid = $USERGROUP
project = psef
base = $DIR_TO_PSEF
chdir = %(base)

chdir = %(base)
virtualenv = %(base)/env/
module = %(project):app

logger = file:/var/log/nginx/psef.uwsgi.log

socket = %(base)/psef.sock
chmod-socket = 666

master = true
processes = 5

env = DEBUG_ON=false
env = SECRET=GENERATE