alembic==0.9.6
celery==4.1.0
coverage==4.4.2
Flask==0.12.2
Flask-JWT-Extended==3.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
html2text==2017.10.4
itsdangerous==0.24
Jinja2==2.10
mistune==0.8.3
Mako==1.0.7
MarkupSafe==1.0
passlib==1.7.1
patool==1.12
psycopg2==2.7.3.2
py==1.5.2
pytest==3.3.1
pytest-cov==2.5.1
python-dateutil==2.6.1
python-editor==1.0.3
six==1.11.0
SQLAlchemy==1.1.15
SQLAlchemy-Utils==0.32.21
Werkzeug==0.13
python-archive==0.2
flake8==3.5.0
pylint==1.8.1
git+https://github.com/i-kiwamu/python3-oauth2.git
click==6.7
lxml==4.1.1
pyflakes==1.6.0
sphinx-rtd-theme==0.2.4
Sphinx==1.6.5
git+https://github.com/libre-man/HTTPdomain#subdirectory=httpdomain
git+https://github.com/libre-man/sphinx-autodoc-typehints
mypy==0.560
mypy-extensions==0.3.0
yapf==0.20.0
isort==4.2.15
PyJWT==1.5.3
validate-email==1.3
typing-extensions==3.6.2.1
