header,
footer {
    text-align: center;
}

.input-group {
    padding: .5em 0;
}

.code-viewer {
    @linenr-bg: #f8f8f8;
    @line-bg: white;

    line-height: 1.5;

    ol {
        background: @linenr-bg;
    }

    li,
    code {
        background: @line-bg;
    }

    /* Prevent <li> overlapping <ol> border. */
    li {
        &:first-child {
            border-top-right-radius: inherit;
        }

        &:last-child {
            border-bottom-right-radius: inherit;
        }
    }
}
