@color-primary: #2c3e50;
@linum-bg: #f8f8f8;
@line-bg: white;
@line-spacing: .5em;
@code-linum-width: 4rem;

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.navbar {
    background: @color-primary;
    margin-bottom: 1em;
}

#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    background: #f5f5f5;
}

.page {
    margin-bottom: 4em;
}

.btn-outline-primary {
    color: @color-primary;
    background-image: none;
    background-color: transparent;
    border-color: @color-primary;

    &:hover {
        background-color: @color-primary;
    }
}

.btn {
    cursor: pointer;

    &-primary {
        background: @color-primary;
        border-color: @color-primary;

        &:hover {
            background: saturate(lighten(@color-primary, 7.5%), 10%);
            border-color: saturate(lighten(@color-primary, 7.5%), 10%);
        }

        &[disabled] {
            background: fade(@color-primary, 80);
            border-color: fade(@color-primary, 60);
        }
    }

    .fa-icon {
        &:not(:first-child) {
            margin-left: .66em;
        }

        &:not(:last-child) {
            margin-right: .66em;
        }
    }

    &-sm .fa-icon {
        transform: translateY(1px);
    }

    &:not(&-sm) .fa-icon {
        transform: translateY(2px);
    }
}

.custom-control-input {
    &:active ~ .custom-control-indicator {
        background-color: fade(@color-primary, 60);
    }

    &:focus ~ .custom-control-indicator {
        box-shadow: 0 0 0 1px white,
                    0 0 0 3px @color-primary;
    }

    &:checked ~ .custom-control-indicator {
        background-color: @color-primary;
    }
}

input[type="datetime-local"] {
    flex-direction: row!important;
    padding: 0 .75rem;
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

input[type="number"] {
    text-align: right;
    padding-right: 1em;

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    -moz-appearance: textfield;
    appearance: textfield;
}

input:disabled,
textarea:disabled {
    background: white;
}

.card-primary.card-inverse {
    background: @color-primary;
    border-color: @color-primary;
}

.table-hover tbody tr {
    cursor: pointer;
}

.input-group .custom-checkbox {
    margin-right: 0;
    padding: .5rem .75rem;
    padding-left: 2.25rem;
    font-size: 0.95em;

    .custom-control-indicator {
        top: .625rem;
        left: .75rem;
    }
}

.input-group .input-group-btn {
    &:not(:first-child) button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:not(:last-child) button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.form-group .alert {
    position: relative;
    margin-top: -4px;
    margin-bottom: 0;
    z-index: -1;
}

.custom-file {
    padding: 0;
    overflow: hidden;

    input {
        cursor: pointer;
    }

    & &-control {
        cursor: pointer;
        border: 0;
    }
}

.code-viewer {
    background: @linum-bg;
    padding-left: @code-linum-width;

    li {
        background: @line-bg;
        padding: @line-spacing/2 0;

        /* Prevent <li> overlapping <ol> border. */
        &:first-child {
            padding-top: @line-spacing;
            border-top-right-radius: inherit;
        }

        &:last-child {
            padding-bottom: @line-spacing;
            border-bottom-right-radius: inherit;
        }
    }

    code {
        padding: 0;
        line-height: 1;
        background: transparent;
    }

    .add-feedback {
        top: @line-spacing/2 !important;
    }

    .input-group,
    input {
        font-size: 1em;
    }

    .card {
        margin-top: @line-spacing;

        .card-block {
            padding: @line-spacing;
        }
    }

    .input-group {
        padding: .5em 0;
    }
}

.linter-feedback-outer {
    background: rgba(255, 0, 0, .025) !important;
    color: red;
    font-weight: bold;
    -webkit-text-decoration-style: wavy;
    -moz-text-decoration-style: wavy;
    text-decoration-style: wavy;

    > * {
        font-weight: normal;
    }

    .feedback-area {
        color: black;
    }
}

.linter-feedback-inner .linter-toggle {
    min-width: @code-linum-width;
    height: 100%;
    top: 0;
    right: 100%;
    position: absolute;
}

.file-tree {
    a {
        color: #2c3e50;
    }

    .active-file {
        font-weight: bold;
    }
}

.flex-variable {
    flex: 1 1;
}

.flex-fixed {
    flex: 0 0;
}

.popover {
    text-align: center;
}

.show > .dropdown-menu {
    max-height: 50vh;
    overflow-y: scroll;
}

.whitespace {
    opacity: 0.4;
    color: #000;
}
