html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

header,
footer {
    text-align: center;
}

.code-viewer {
    @linenr-bg: #f8f8f8;
    @line-bg: white;

    ol {
        background: @linenr-bg;
    }

    li {
        background: @line-bg
    }

    code {
        line-height: 1.5;
        background: @line-bg;
    }

    .input-group {
        padding: .5em 0;
    }
}
